.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.custom-list li {
  background-color: #f9f9f9;
}

.custom-list li:hover {
  background-color: #e0e0e0;
}
