.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10vw, 1fr));
  gap: 10px;
  justify-items: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
