.container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.item {
  border: none;
  padding: 10px;
}

.item_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1em;
}

.select {
  appearance: none;
  background-color: #fff;
  min-width: 200px;
  height: 2em;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 0 0.5em;
  font-size: 16px;
}

.custom_select_wrapper {
  position: relative;
  width: fit-content;
}

.custom_select-wrapper::after {
  content: '▼';
  font-size: 12px;
  color: #333;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}
