.list {
  padding-top: 1vw;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.item {
  border: none;
  margin: 0.7vw 2vw;
  padding: 10px;
}

.item_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.1vw;
}
