.container {
  text-align: center;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score {
  font-size: 24px;
  margin: 20px 0;
}

.container .game_btn {
  margin: 5px;
  padding: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 1.25em;
  background-color: white;
  border: 0;
  text-transform: uppercase;
}
