.form {
  display: flex;
  flex-direction: column;
  background-color: white; /* Фон формы */
  padding: 10px 0px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Поверх overlay */
  color: black;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: rgb(248, 248, 248);
}

.user_field {
  margin: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_field .user_icon {
  width: 150px;
  height: 150px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(248, 248, 248);
  padding: 10px;
}

.group {
  padding: 5px 10px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  background-color: #e6e6e6;
  border-radius: 5px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.label {
  color: #7e7e7e;
  margin-bottom: 5px;
}

.input {
  padding: 10px;
  border: 1px solid #7e7e7e;
  background-color: #eee;
  border-radius: 4px;
}

.add_user_btn,
.cancel_btn {
  margin: 0 5px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add_user_btn {
  background-color: #007bff;
  color: white;
}

.cancel_btn {
  background-color: rgb(191, 207, 255);
  color: #007bff;
}

.btn:hover {
  background-color: #0056b3;
}

.title {
  margin: 5px;
}

.hidden_input {
  display: none;
}
